<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Unit 2 Assessment</title>
</head>
<body>
  <h1>Book List</h1>
  <a href="/books/new">Add a new book</a>
  <% if(books.length !== 0) { %>
    <% books.forEach(book =>{ %>
      <ul>
        <li>
          <h5><%= book.name %>
          -  
          <%= book.read?'Read':'Not Read' %>
          <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
            <button>Delete</button>
          </form>
          </h5>
        </li>
      </ul>
  <% }) %> 
  <% } else { %> 
    <h2>There are no books yet</h2>
<% } %>
</body>
</html>